@page
@model Lab1.Pages.Registration.StudentRegistrationModel
<h2>Student Registration</h2>

<form method="post">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" required value="@Model.FirstName" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required />
    </div>
    <div class="form-group">
        <label for="Parent">Parent</label>
        <select class="form-control" id="Parent" name="ParentID" asp-items="Model.ParentOptions" required>
            <option value="">-- Select Parent --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-danger" name="action" value="register">Register Student</button>
    <button type="submit" class="btn btn-secondary" name="action" value="populate" formnovalidate>Populate</button>
</form>
